---
title: Industry Links
slug: industry-links
position: 5
listed: true
published: true
is_layout: false
seo_title: Industry Links
editable_elements:
  main/content: 'Here is a list of industry related links:<br> <br><a href="http://www.astm.com">www.astm.com</a>
    - ASTM International<br><a href="http://www.afsinc.com" title="Link: http://www.afsinc.com">www.afsinc.com</a>
    - American Foundry Society<br><a href="http://www.dgv.de" title="Link: http://www.dgv.de">www.dgv.de</a>
    - German Foundry Association<br><a href="http://www.din.de">www.din.de</a> - German
    Institute for Standardization<br><a href="http://www.sme.org">www.sme.org</a>
    - Society of Manufacturing Engineers<br><a href="http://www.iso.org">www.iso.org</a>
    - Interantional Organization for Standardization<br><a href="http://www.sae.org">www.sae.org</a>
    - SAE International<br><a href="http://www.amm.com">www.amm.com</a> - American
    Metal Market<br><a href="http://www.disagroup.com">www.disagroup.com</a> - Disa
    - Manufacturer of Foundry Equipment<br><a target="_blank" href="http://fataaluminum.com">fataaluminum.com</a>&nbsp;-
    FATA / Peterle - Manufacturer of Foundry Equipment<div><br></div>'
---
{% extends "layouts/default" %}
{% block 'main' %}
  {% if featured_image != blank %}
    <div class="featured_image">
      <img class="thumbnail" title="{{ page.title }}" alt="{{ page.title }}" src="{{ featured_image | resize: '400x', optimize: 80 }}">
    </div>
  {% endif %}
  {% editable_text "content" %}Hola!{% endeditable_text %}
  <div class="row small-up-2 medium-up-3">
    {% for link in contents.industry_links %}
      <div class="column column-block  clickable" data-url="{{ link.url }}">
        <div class="card text-center">
          <img class="thumbnail" alt="{{ link.title }}" src="{{ link.logo.url | resize: '400x300', optimize: 80 }}">
          <p>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
